html,
body {
  font: 14px/1.21 "Helvetica Neue", arial, sans-serif;
  font-weight: 400;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
.fullHeight,
#root {
  padding: 0;
  min-height: 100vh;
  background-color: black;
}

.fullHeight {
  display: flex;
  flex-direction: column;
}

.plugins {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  opacity: 1;
  transition: 1s;
}

.main-spinner {
  position: fixed;
  height: 100vh;
  width: 100vw;
  transform: scale(4);
}

/* Brainish */

:root {
  --item-background: #00000094;
  --item-border: 2px solid#00000094;
  --item-highlighted-border: 2px solid orange;
  --body-background: linear-gradient(
    0deg,
    #1e62bd 0%,
    rgba(0, 0, 0, 1) 50%,
    #1e62bd 100%
  );
  --line-color: #0082a8;
}

.mainGrid {
  background: var(--body-background);
  padding: 10px;
  transition: 1s;
  opacity: 1;
  display: grid;
  grid-template-columns: minmax(0, 300px) auto;
  grid-template-rows: auto min-content auto 50px;
  grid-template-areas:
    "jumps parents "
    "jumps thought "
    "jumps children "
    "crumbs crumbs";
  gap: 10px;
  flex-grow: 1;
}

.area {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
  border-radius: 20px;
  border-width: 10px;
  align-items: start;
}

.parentsArea {
  grid-area: parents;
  border-bottom: solid var(--line-color);
  align-content: end;
}

.jumpsArea {
  grid-area: jumps;
  border-right: solid var(--line-color);
  align-content: center;
  min-width: 0;
}

.parentsLine {
  border-left: 4px solid var(--line-color);
  height: 33px;
  position: absolute;
  left: 50%;
  top: -13px;
}

.childrenLine {
  border-left: 4px solid var(--line-color);
  height: 33px;
  position: absolute;
  left: 50%;
  bottom: -13px;
}

.jumpsLine {
  border-top: 4px solid var(--line-color);
  width: 33px;
  position: absolute;
  top: 50%;
  left: -13px;
}

.thoughtArea {
  padding: 20px;
  grid-area: thought;
  position: relative;
}
.childrenArea {
  grid-area: children;
  border-top: solid var(--line-color);
  align-content: start;
}

.crumbsArea {
  grid-area: crumbs;
  border-top: solid white;
  align-content: start;
  border-radius: 0;
  border-width: 1px;
  direction: rtl;
  padding-right: 130px;
}

.thought {
  border: 1px solid rgba(255, 255, 255, 0.486);
  padding: 5px 15px;
  border-radius: 20px;
  color: white;
  background: var(--item-background);
  direction: ltr;
  display: flex;
}

.thoughtArea > .thought {
  font-size: larger;
  border: var(--item-highlighted-border);
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.navToThought {
  flex-grow: 1;
}

.link-icon {
  fill: white;
  overflow: visible;
  padding-right: 0.25em;
}

.link-icon > svg {
  height: 1em;
}
