:root {
  --item-background: #00000094;
  --item-border: 2px solid#00000094;
  --item-highlighted-border: 2px solid orange;
  --body-background: linear-gradient(
    0deg,
    #1e62bd 0%,
    rgba(0, 0, 0, 1) 50%,
    #1e62bd 100%
  );
  --line-color: #0082a8;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.mainGrid {
  background: var(--body-background);
  padding: 10px;
  transition: 1s;
  opacity: 1;
  flex-grow: 1;
}

.areaWide {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
  border-radius: 20px;
  border-width: 10px;
  align-items: start;
  position: relative;
  padding-top: 30px;
}

.areaNarrow {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
  border-radius: 20px;
  border-width: 10px;
  align-items: start;
  position: relative;
  overflow-y: auto;
  padding-top: 30px;
}

.areaLabel {
  position: absolute;
  top: 0;
  opacity: 0.5;
  font-size: large;
  text-transform: uppercase;
  font-weight: bolder;
  pointer-events: none;
  padding-left: 1em;
}

.parentsArea {
  grid-area: parents;
  border-bottom: solid var(--line-color);
  align-content: end;
}

.jumpsArea {
  grid-area: jumps;
  border-right: solid var(--line-color);
}

.siblingsArea {
  grid-area: siblings;
  border-left: solid var(--line-color);
}

.childrenArea {
  grid-area: children;
  border-top: solid var(--line-color);
  align-content: start;
}

.crumbsArea {
  grid-area: crumbs;
  border-top: solid white;
  align-content: start;
  border-radius: 0;
  border-width: 1px;
  direction: rtl;
  padding-right: 130px;
  padding-bottom: 0px;
}

.thought {
  padding: 2px 5px;
  border-radius: 5px;
  background: var(--item-background);
  direction: ltr;
  // display: flex;
  position: relative;
  overflow: hidden;
  max-height: 1.3em;
  min-height: 1.3em;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thoughtArea {
  padding: 20px;
  grid-area: thought;
  position: relative;
  display: grid;
  .thought {
    font-size: x-large;
    border: var(--item-highlighted-border);
    max-height: unset;
  }
}

.thought a:link,
.thought a:visited,
.thought a:hover,
.thought a:active {
  color: currentColor;
  text-decoration: none;
}

.navToThought {
  flex-grow: 1;
}

.link-icon {
  fill: white;
  overflow: visible;
  padding-right: 0.25em;
  left: 0;
  top: -0.2em;
  width: 1em;
  height: 1em;
  position: relative;
}

.link-icon > svg {
  height: 1em;
}

.notesArea {
  grid-area: notes;
  overflow: auto;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 0;
}

.thoughtIcon {
  left: -0.2em;
  top: -0.2em;
  width: 1em;
  height: 1em;
  position: relative;
  transform: scale(1.5);
}

@media (min-width: 500px) {
  .mainGrid {
    display: grid;
    grid-template-columns: max(250px) auto max(250px);
    grid-template-rows: auto;
    grid-template-areas:
      "jumps parents siblings"
      "jumps thought siblings"
      "jumps children siblings"
      "crumbs crumbs crumbs";
    gap: 10px;
  }

  .parentsLine {
    border-left: 4px solid var(--line-color);
    height: 33px;
    position: absolute;
    left: 50%;
    top: -13px;
  }

  .childrenLine {
    border-left: 4px solid var(--line-color);
    height: 33px;
    position: absolute;
    left: 50%;
    bottom: -13px;
  }

  .jumpsLine {
    border-top: 4px solid var(--line-color);
    width: 33px;
    position: absolute;
    top: 50%;
    left: -13px;
  }

  .siblingsLine {
    border-top: 4px solid var(--line-color);
    width: 33px;
    position: absolute;
    top: 50%;
    right: -13px;
  }

  .childrenArea {
    padding-top: 10px;
    .areaLabel {
      top: unset;
      bottom: 0;
    }
  }

  .areaNarrow {
    max-height: 88vh;
    padding-top: 60px;
  }

  .areaLabel {
    position: absolute;
    top: 0;
    opacity: 0.1;
    font-size: xxx-large;
  }

  .siblingsArea {
    .areaLabel {
      padding-left: 10px;
    }
  }

  .crumbsArea {
    padding-top: 10px;
  }
}
