:root {
  --item-background: #00000094;
  --item-border: 2px solid#00000094;
  --item-highlighted-border: 2px solid orange;
  --body-background: linear-gradient(
    0deg,
    #1e62bd 0%,
    rgba(0, 0, 0, 1) 50%,
    #1e62bd 100%
  );
  --line-color: #0082a8;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #dfdfdf;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.mainGrid {
  background: var(--body-background);
  padding: 10px;
  transition: 1s;
  opacity: 1;
  display: grid;
  grid-template-columns: max(250px) auto max(250px);
  grid-template-rows: auto;
  grid-template-areas:
    "jumps parents siblings"
    "jumps thought siblings"
    "jumps children siblings"
    "crumbs crumbs crumbs";
  gap: 10px;
  flex-grow: 1;
}

.area {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
  border-radius: 20px;
  border-width: 10px;
  align-items: start;
  position: relative;
}

.areaLabel {
  position: absolute;
  top: 0;
  opacity: 0.1;
  font-size: xxx-large;
  text-transform: uppercase;
  font-weight: bolder;
}

.childrenArea .areaLabel {
  top: unset;
  bottom: 0;
}

.parentsArea {
  grid-area: parents;
  border-bottom: solid var(--line-color);
  align-content: end;
}

.jumpsArea {
  grid-area: jumps;
  border-right: solid var(--line-color);
  overflow-y: auto;
  max-height: 80vh;
  padding-top: 60px;
}

.siblingsArea {
  .areaLabel {
    padding-left: 10px;
  }
  grid-area: siblings;
  border-left: solid var(--line-color);
  overflow-y: auto;
  max-height: 80vh;
  padding-top: 60px;
}

.parentsLine {
  border-left: 4px solid var(--line-color);
  height: 33px;
  position: absolute;
  left: 50%;
  top: -13px;
}

.childrenLine {
  border-left: 4px solid var(--line-color);
  height: 33px;
  position: absolute;
  left: 50%;
  bottom: -13px;
}

.jumpsLine {
  border-top: 4px solid var(--line-color);
  width: 33px;
  position: absolute;
  top: 50%;
  left: -13px;
}

.siblingsLine {
  border-top: 4px solid var(--line-color);
  width: 33px;
  position: absolute;
  top: 50%;
  right: -13px;
}

.thoughtArea {
  padding: 20px;
  grid-area: thought;
  position: relative;
  display: grid;
}
.childrenArea {
  grid-area: children;
  border-top: solid var(--line-color);
  align-content: start;
}

.crumbsArea {
  grid-area: crumbs;
  border-top: solid white;
  align-content: start;
  border-radius: 0;
  border-width: 1px;
  direction: rtl;
  padding-right: 130px;
  padding-bottom: 0px;
}

.thought {
  border: 1px solid rgba(255, 255, 255, 0.486);
  padding: 5px 15px;
  border-radius: 20px;
  color: white;
  background: var(--item-background);
  direction: ltr;
  display: flex;
}

.thoughtArea > .thought {
  font-size: x-large;
  border: var(--item-highlighted-border);
}

.thought a:link,
.thought a:visited,
.thought a:hover,
.thought a:active {
  color: currentColor;
  text-decoration: none;
}

.navToThought {
  flex-grow: 1;
}

.link-icon {
  fill: white;
  overflow: visible;
  padding-right: 0.25em;
}

.link-icon > svg {
  height: 1em;
}


// .notesArea {
//   grid-area: notes;
//   overflow: auto;
//   max-height: 80vh;
//   background-color: white;
//   color: black;
//   border-radius: 5px;
// }
// .mainGrid {
//   grid-template-columns: max(250px) auto max(250px) max(400px);
//   grid-template-areas:
//     "jumps parents siblings notes"
//     "jumps thought siblings notes"
//     "jumps children siblings notes"
//     "crumbs crumbs crumbs notes";
// }
